@import "tailwindcss";

@import "tailwindcss";

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility btn-primary {
    @apply py-4 px-8 bg-primary text-primary-foreground text-xs uppercase;
}

@utility btn-outline {
    @apply py-4 px-8 border border-primary text-primary text-xs uppercase;
}

@layer utilities {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
}

/* catppuccin latte colors for light theme */
:root {
    /* base */
    --background: 220 23% 95%;

    /* using mocha-base because latte-text is too light */
    --foreground: 240 21% 15%;

    --card: 220 23% 95%;
    --card-foreground: 240 21% 15%;

    --popover: 220 23% 95%;
    --popover-foreground: 240 21% 15%;
    --primary: 240 21% 15%;

    /* base */
    --primary-foreground: 220 23% 95%;

    /* surface1 */
    --secondary: 225 14% 77%;
    --secondary-foreground: 240 21% 15%;
    --muted: 225 14% 77%;

    /* subtext0 */
    --muted-foreground: 233 10% 47%;

    /* lavender */
    --accent: 231 97% 72%;

    /* base */
    --accent-foreground: 220 23% 95%;

    /* red */
    --destructive: 347 87% 44%;
    --destructive-foreground: 220 23% 95%;
    /* surface1 */
    --border: 225 14% 77%;
    --input: 225 14% 77%;
    --ring: 231 97% 72%; /* lavender */

    --chart-1: 347 87% 44%; /* red */
    --chart-2: 109 58% 40%; /* green */
    --chart-3: 197 97% 46%; /* sky */
    --chart-4: 355 76% 59%; /* maroon */
    --chart-5: 220 91% 54%; /* blue */

    --radius: 0.5rem;
}

/* catppuccin mocha colors for dark theme */
.dark {
    /* crust */
    --background: 240 23% 9%;
    /* text */
    --foreground: 226 64% 88%;
    --card: 240 23% 9%;
    --card-foreground: 226 64% 88%;
    --popover: 240 23% 9%;
    --popover-foreground: 226 64% 88%;
    --primary: 226 64% 88%;
    --primary-foreground: 240 23% 9%;
    --secondary: 234 13% 31%;
    --secondary-foreground: 226 64% 88%;
    /* surface1 */
    --muted: 234 13% 31%;
    /* subtext0 */
    --muted-foreground: 228 24% 72%;

    /* lavender; */
    --accent: 232 97% 85%;

    --accent-foreground: 0 0% 98%;
    /* red */
    --destructive: 343 81% 75%;
    --destructive-foreground: 0 0% 98%;
    /* surface1 */
    --border: 234 13% 31%;
    --input: 234 13% 31%;
    --ring: 232 97% 85%;

    --chart-1: 343 81% 75%; /* red */
    --chart-2: 115 54% 76%; /* green */
    --chart-3: 199 76% 69%; /* sapphire */
    --chart-4: 350 65% 77%; /* maroon */
    --chart-5: 217 92% 76%; /* blue */
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
